<div class="home__container">
    <app-card 
    gameCover="assets/ac-cover.jpg"
    gameCoverAlt="Capa do Assassins Creed"
    gameLabel="GOTY"
    gameType="DIGITAL | PS4 | PS5"
    gamePrice="R$300,00"
    ></app-card>

    <app-card
    gameCover="assets/bt-5.jpg"
    gameCoverAlt="Capa do Battlefield 5"
    gameLabel="NEW"
    gameType="DIGITAL | PS5"
    gamePrice="R$250,00"
  ></app-card>

  <app-card
    gameCover="assets/bt-4.jpg"
    gameCoverAlt="Capa do Battlefield 4"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS5"
    gamePrice="R$200,00"
  ></app-card>

  <app-card
    gameCover="assets/bt-1.jpg"
    gameCoverAlt="Capa do Battlefield 1"
    gameLabel="Digital"
    gameType="DIGITAL | PS4"
    gamePrice="R$150,00"
  ></app-card>

</div>
